/* Header start */
header {
    background-color: black;
}

nav {
    display: flex;
    padding: 16px 64px;
    align-items: center;
    justify-content: space-between;
}

.left-nav {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo {
    width: 100px;
    border-right: 1px solid white;
    padding: 0px 18px 0px 0px;
}

.border {
    border: 1px solid white;
}

.help-center {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.help-center:hover {
    text-decoration: underline;
}

.right-nav {
    display: flex;
    gap: 24px;
}

.join-link {
    display: inline-block;
    border: 1px solid gray;
    color: white;
    padding: 6px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.join-link:hover {
    border: 1px solid white;
}

.sign-in {
    display: inline-block;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}

.sign-in:hover {
    background-color: rgb(182, 0, 9);
}

/* Header ended */

/* Content started */
.content {
    padding: 16px 64px;
    overflow: hidden;
}

.back-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

i {
    color: #221f1f;
}

.back-home {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.back-home:hover {
    text-decoration: underline;
    color: gray;
}

h1 {
    font-size: 40px;
}

.whatIsNetflix {
    display: flex;
    gap: 80px;
}

/* Left content */

.left-content {
    flex: 1;
}

.left-content img {
    width: 850px;
}

.left-content p {
    color: #221f1f;
    font-weight: 500;
}

.left-content p a {
    color: #e50914;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

.left-content p a:hover {
    text-decoration: underline;
}

h2{
    margin: 30px 0px;
}

.paragraph{
    display: flex;
    gap: 8px;
}

.square{
    border: 1px solid gray;
    padding: 2px;
    background-color: gray;
}

.list-type{
    padding: 8px;
}

.article-fedback{
    display: flex;
    align-items: center;
    gap: 15px;
}

button{
    border: none;
    background-color: transparent;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    color: gray;
}

/* Right content */

.right-content {
    flex: 1;
    margin-top: 20px;
}

.articles {
    border: 1px solid gray;
    border-radius: 4px;
}

.bar{
    width: 100%;
    border: 3px solid red;
    border-radius: 1px;
}

.article {
    padding: 20px;
}

h3{
    margin-top: 0px;
    font-weight: 500;
}

.articles-link {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
}

.articles-link a {
    display: inline-block;
    color: black;
}

.articles-link a:hover {
    color: gray;
}

.line-bar{
    border: 1px solid gray;
    width: 100%;
    margin-top: 50px;
}

/* Content ended */

/* Footer started */


footer{
    background: linear-gradient(194deg, rgba(155,21,28,1) 0%, rgba(155,21,28,1) 0%, rgba(0,0,0,1) 44%);
    margin-top: 30px;
}

.footer-links{
    padding: 40px 64px;
}

.footer-link{
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-link h3{
    color: white;
    margin: 0px;
}

.footer-link a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 8px 20px;
    font-weight: 600;
    border-radius: 4px;
}

.footer-link a:hover{
    background-color: rgb(156, 156, 156);
}

.line-bar-footer{
    border: 1px solid gray;
    width: 100%;
    margin-top: 20px;
}

select{
    width: 20%;
    padding: 14px;
    background-color: transparent;
    color: gray;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
}

.links{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.links a{
    color: rgba(255, 255, 255, .7);
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover{
    text-decoration: underline;
}

/* Footer ended */