body {
    background-color: black;
}

/* Header start */

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/login-the-crown_2-1500x1000.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    padding: 24px 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 180px;
    height: 60px;
}

nav a {
    display: inline-block;
    color: #e50914;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline;
}

/* Header end */


/* Center section start */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-password {
    background-color: white;
    padding: 50px;
    width: 35%;
}

h1 {
    margin-top: 0px;
    font-weight: 500;
}

form {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.emailMe {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#email-btn {
    padding: 14px;
    background-color: #0080ff;
    border: none;
    color: white;
    font-size: 16px;
}

#email-btn:hover {
    background-color: #2793ff;
}

.emailMe a {
    color: #0080ff;
    text-decoration: none;
    display: inline-block;
}

.emailMe a:hover {
    text-decoration: underline;
}

input {
    padding: 12px;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
}

::placeholder {
    font-weight: 500;
    font-size: 16px;
}

.protect-page {
    position: absolute;
    left: 50%;
    top: 105%;
    translate: -50% -50%;
    width: 35%;
}

#btn {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7);
    border: none;
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
}

#hidden-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 115%;
    translate: -50% -50%;
    width: 35%;
    display: none;
    margin-top: 15px;
}


#hidden-description a {
    color: #0080ff;
    display: inline-block;
    text-decoration: none;
}

#hidden-description a:hover {
    text-decoration: underline;
}

.learn-more {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
}

/* Center section end */


/* Footer start */

footer {
    margin-top: 50px;
    padding: 160px 180px 48px;
}

.footer-links {
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
}

.links {
    display: flex;
    gap: 128px;
    margin-top: 40px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}


select {
    color: white;
    padding: 6px 18px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
}

/* Footer end */