body {
    background-color: black;
}

/* Backgound image and Nav-Bar Start */

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 45px;
}

.logo {
    width: 150px;
    height: 40px;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

select {
    color: white;
    padding: 6px 18px;
    border-radius: 4px;
    background-color: black;
    border: 1px solid gray;
    font-size: 16px;
    font-weight: 700;
}

.sign-in {
    display: inline-block;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 7px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.sign-in:hover {
    background-color: rgb(182, 0, 9);
}

/* Backgound image and Nav-Bar End */

/* Central elements Start */

.center {
    text-align: center;
    padding: 128px 0px 0px 0px;
}

h1,
p,
h3 {
    color: white;
    margin: 0px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 12px;
}

p {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 32px;
}

h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}

.row-Area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

input {
    padding: 18px 24px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid gray;
    color: white;
}

::placeholder {
    color: gray;
    font-weight: 700;
    font-size: 16px;
}

#btn {
    padding: 14px 32px;
    color: white;
    background-color: rgb(229, 9, 20);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

#btn:hover {
    background-color: rgb(182, 0, 9);
}

.white {
    color: white;
    font-size: 18px;
}

/* Central elements End */


.content-container {
    padding: 24px 45px;
}

h2 {
    color: white;
}

.heading {
    margin-top: 40px;
    margin-bottom: 0px;
}


/* Trending Now section started */
#movies {
    border-radius: 16px;
    padding: 8px;
}

.slideshow-container {
    display: flex;
    align-items: center;
    gap: 18px;
    overflow: hidden;
}

.slide {
    margin-top: 20px;
    padding: 10px;
    /* display: none; */
}
/* .slide:first-child{
    display: block;
} */
.slide img{
    width: 130px;
    height: 250px;
    border-radius: 12px;
}

.slide img:hover{
    scale: 1.1;
    transition: 0.3s;
}


#left-btn{
    position: absolute;
    left: 9%;
    top: 145%;
    translate: -50% -50%;
    height: 70px;
    border-radius: 16px;
    border: none;
    padding: 4px 8px;
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}

#right-btn{
    position: absolute;
    right: 7%;
    top: 145%;
    translate: -50% -50%;
    height: 70px;
    border-radius: 16px;
    padding: 4px 8px;
    border:  none;
    background-color: rgb(94, 94, 94);  
    cursor: pointer;
}

#left-btn:hover{
    background-color: rgb(59, 59, 59); 
}

#right-btn:hover{
    background-color: rgb(59, 59, 59);  
}

.style-i{
    color: white;
    font-size: 15px;
}


#btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}






/* Trending Now section end */


/* More Reasons to Join section started */
.cards {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.card {
    background-color: #413335;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.card p {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 50px;
}

.simvol {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 30px;
}

/* More Reasons to Join section end */



/* Frequently Asked Questions section started */

.faq-question ul {
    list-style: none;
    padding: 0px;
}

.size {
    width: 30px;
    transition: all 0.4s ease;
}

ul li button {
    background-color: #303030;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}

ul li button:hover {
    background-color: #4b4a4a;
    transition: 0.7s;
}

.qst {
    margin-top: 10px;
}

.faq-description {
    background-color: #303030;
    border-radius: 16px;
    padding: 20px;
    display: none;
}

.faq-description p {
    font-size: 18px;
    font-weight: 500;
}

.style-p {
    margin-bottom: 16px;
    margin-top: 5px;
}

/* Frequently Asked Questions section end*/

/*Get Started section started */
.button {
    text-align: center;
    margin: 40px 0px;
}

#started-btn {
    border: none;
    background-color: red;
    border-radius: 24px;
    color: white;
    padding: 14px 40px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

#started-btn:hover {
    background-color: rgb(255, 44, 44);
}

/*Get Started section end */

/* Footer start */

footer {
    margin-top: 40px;
}

.links {
    display: flex;
    gap: 128px;
    margin-top: 40px;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-href {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 16px;
    margin-top: 40px;
}

/* Footer end */